<html>
    <head>
        <meta charset = 'utf-8'> 
        <link rel="stylesheet" href="mystyle.css">
        <title>Anomaly Detection Server</title>
    </head>
    <body>
        <h1>Anomaly Detection Server</h1>
        <div id="gifBackGround">
        <div id="divuploaddiv">
            <h2>upload</h2>
     <!--    <table class="tableUploadFiles" name="tableUpload">
            <form class="up" action="/upload" method="POST" enctype="multipart/form-data" name="uploadFiles" target="result">
        <label>List of models
            <select name= "select1">
            <option value= "1">regression </option>
            <option value= "2">Hybrid</option>
            </select>
            </label>  
            <tr>     
                <td>Selecting a valid csv file for learning</td>
                <br>
                <td><input type="file" name="csvLearn"></td>
            </tr> 
            <tr>
                <td>Selecting csv to check for anomalies</td>
                <br>
                <td><input type="file" name="csvDetect"></td>
            </tr>
        </table>       --> 
            <input class="sendFiles" type="submit" value="upload">
<!--
            <div class="drag-area">
                <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                <header>Drag & Drop to Upload File</header>
                <span>OR</span>
                <button>Browse File</button>
                <input type="file" hidden>
              </div>
        -->
        <div class="drop"><span class="drop-zone__prompt">Drop csv file for learning here or click to upload</span><input class="drop-zone__input" type="file" name="myFile" /></div>
        <br>
        <div class="drop2"><span class="drop-zone__prompt">Drop csv file to check for anomalies here or click to upload</span><input class="drop-zone__input" type="file" name="myFile" /></div>
        
        </form>
        </div>
        <div id="divResult">
            <h2>result</h2>
        <iframe name="result" width="80%" height="100%"></iframe>
    </div>
</div>
    </body>

</html>